header {
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;

  nav {
    align-items: center;
  }

  .nav-link {
    color: white;
    font-size: 16px;
    line-height: 22px;
    padding: 0 20px;
  }

  .logotype {
    background: black;
  }
}